# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environments
venv/
.env.*.local

# MacOS
.DS_Store

# IDEs
.vscode/
.idea/
Day3_AI_Challange/OPENAI_API_KEY.env
Day3_AI_Challange/OPENAI_API_KEY.env
